header{
  height: 20vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.newNote{
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  padding:10px;
  border-radius: 5px;
 background:linear-gradient(45deg,rgb(10, 179, 136),rgb(148, 134, 244));
 color: #fff;
}
.newNote:hover{
  transition: .2s;
  background:linear-gradient(45deg,rgb(128, 110, 242),rgb(4, 161, 122));
}
i{
  font-size: 20px;
  color: #fff;
}

